In [4]:
import pandas as pd
import sqlite3

con = sqlite3.connect("db/rocketq.sqlite")
db = pd.read_sql_query("SELECT * from questions", con)

display(db)

   id                                              title  read    room
0   1  Qual a diferença entre const, var e let no jav...     0  531774
1   2                                      Pergunta?\r\n     0  531774
2   3                                                ola     0  531774