In [9]:
import pandas as pd
import sqlite3

con = sqlite3.connect("db/rocketq.sqlite")
db = pd.read_sql_query("SELECT * from rooms", con)

display(db)

        id    pass
0    60086  123456
1    96261  654321
2   288316  654321
3   289989  654321
4   315293  654321
5   404185  654321
6   456272  123131
7   525535  654321
8   546703  654321
9   564873  654321
10  566370  654321
11  675797  654321
12  754072  654321
13  786170  654321
14  797339  654321