In [1]:
import pandas as pd
import sqlite3

con = sqlite3.connect("db/rocketq.sqlite")
db = pd.read_sql_query("SELECT * from questions", con)

display(db)

Empty DataFrame
Columns: [id, title, read, room]
Index: []